*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter', sans-serif;
}

header{
    display: flex;
    /* background-color: yellow; */
    justify-content: space-between;
    align-items: center;
    padding: 12px 120px;
    background-color: rgb(242, 242, 242);
}
nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
nav ul a{
    text-decoration: none;
    color: black;
}
nav ul li{
    /* font-size: larger; */
    font-weight: 600;
}
nav ul li a:hover{
    background-color: gray;
    color: white;
}
button{
    padding: 10px 16px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
}
#navbar-button button:hover{
    background-color: rgb(255, 255, 255);
    color: #469165;
    box-shadow: 2px 2px 3px gray;
    cursor: pointer;
}
#navbar-button button, .arrowButton{
    background-color: #469165;
    border: 0;
    color: white;
}

.hero-container{
    background-image: url(./assets/hero-bg.png);
    /* background-size: ; */
    /* padding: ; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90vh;
    align-items: center;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.earlyAccess .dot{
    width: 8px;
    height: 8px;
    background-color: #469165;
    border-radius: 50%;
    box-shadow: 0px 0px 10px green;
    ;
}
.earlyAccess{
    display: inline-flex;
    padding: 5px 15px;
    align-items: center;
    background-color: white;
    color: #469165;
    border-radius: 100px;
    gap: 10px;
    font-size: 1.10em;
    ;
}

.hero-container h1{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    font-size: 70px;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    padding-top: 20px;
}
.hero-container p{
    max-width: 740px;
    font-size: 1.1em;
    font-weight: 400;
    color: white;
    padding: 20px 0px;
    line-height: 30px;
    /* align-items: center; */
}

.hero-container .buttons{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 10px;
    
}
.hero-container .arrowButton{
    display: flex;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    align-items: center;

}
.hero-container .arrowButton:hover{
    background-color: #2d5e41;
    /* color: #469165; */
    box-shadow: 0px 0px 5px white;
    cursor: pointer;
    /* font-weight: 900; */
}
/* .hero-container .arrowButton:hover .arrowIcon{
    color: ;
} */

.hero-container .playButton{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 15px;
    font-weight: 600;
}
.hero-container .playButton .playIcon{
    width: 18px;
    height: 18px;
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
}

.hero-container .playButton:hover{
    cursor: pointer;
    border-color: #469165;
    box-shadow: 0 0 3px white;
    /* border: transparent; */
}


.cardSection{
    text-align: center;
    padding: 20px 0;
}
.cardSection h1{
    font-size: 45px;
    padding: 10px 0;
}
.cardSection p{
    /* font-size: 1.20em; */
    font-weight: 400;
    color: #627382;
    padding: 10px 0;
}
.card{
    width: 270px;
    height: 270px;
    /* border: 1px solid white; */
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 5px rgb(222, 222, 222);
    display: inline-flex;
    flex-direction: column;
    gap: 15px;
    /* text-align: left; */
    align-items: center;
    justify-content: center;
}
.card h3{
    font-size: 1.4em;
}
.cardContainer{
    display: flex;
    gap: 30px;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
.card .icons{
    height: 50px;
    width: 50px;
    background-color: rgb(242, 88, 88);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card:hover{
    background-color: rgb(240, 239, 239);
    cursor: pointer;
    /* font-size: 1.2em; */
}


.brainSection{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
    padding: 40px 0;
}
/* #brainImg{

} */
 #brainImg img{
    max-width: 560px;
 }
.brainCard{
    display: inline-flex;
    flex-direction: column;
    gap: 30px;
    min-width:50%
}
.brainCard ul{
    list-style: none;
}
.brainCard h5{
    font-size: 15px;
    font-weight: 700;
    color: #469165;
    margin-bottom: 20px;
}
.brainCard h2{
    font-size: 45px;
    font-weight: 700;
    line-height: 1.20;
    margin-bottom: 20px;
    max-width: 560px;
}
.brainCard p{
    /* font-size: 12px; */
    color: #627382;
    max-width: 520px;
    line-height: 1.5;
}
.brainCard li{
    display: flex;
    gap: 10px;
    font-size: 15px;
    /* line-height: 1.5; */
    margin-bottom: 15px;
    font-weight: 600;
}